/*
 * Since I'm not using SASS or LESS, this seemingly simple code is getting
 * convoluted. Tossing it in a separate file to keep things from getting
 * really bad.
*/

nav a {
  transition: color 0.5s, opacity 0.5s;
}

nav a[href="about.html"]:hover, nav a[href="about.html"].active {
  color: #8af;
}

nav a[href="resume.html"]:hover, nav a[href="resume.html"].active {
  color: #f8a;
}

nav a[href="projects.html"]:hover, nav a[href="projects.html"].active {
  color: #ff8;
}

nav a[href="learn.html"]:hover, nav a[href="learn.html"].active{
  color: #c8f;
}

nav a[href="contact.html"]:hover, nav a[href="contact.html"].active {
  color: #af8;
}

nav a.active {
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
}
