/*
 * Since I'm not using SASS or LESS, this seemingly simple code is getting
 * convoluted. Tossing it in a separate file to keep things from getting
 * really bad.
*/

nav a {
  transition: color 0.5s, opacity 0.5s;
}

nav a[href="about.html"] {
  color: #dde;
}

nav a[href="resume.html"] {
  color: #edd;
}

nav a[href="projects.html"] {
  color: #eed;
}

nav a[href="teaching.html"]{
  color: #ede;
}

nav a[href="contact.html"] {
  color: #ded;
}

nav a[href="about.html"]:hover, nav a[href="about.html"].active {
  color: #99f;
}

nav a[href="resume.html"]:hover, nav a[href="resume.html"].active {
  color: #f99;
}

nav a[href="projects.html"]:hover, nav a[href="projects.html"].active {
  color: #ff9;
}

nav a[href="teaching.html"]:hover, nav a[href="teaching.html"].active{
  color: #f9f;
}

nav a[href="contact.html"]:hover, nav a[href="contact.html"].active {
  color: #9f9;
}

nav a:active {
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
}

/* Colours from the old site */

.text-blue {
  color: #8af;
}

.text-red {
  color: #f8a;
}

.text-yellow {
  color: #ff8;
}

.text-purple {
  color: #c8f;
}

.text-green {
  color: #af8;
}