@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,200|Open+Sans');
@import url('nav-colouring.css');

body {
  background-color: #111;
  color: #ddd;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
}

header a {
  text-decoration: none;
  color: #bbb;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


header nav a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

header h1 {
  font-size: 36px;
}

header .media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .media-links a {
  padding: 0 5px 0 5px;
}

#home header.title-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

#home div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
}

#home header.title-bar hr {
  border: 1px solid #D77;
  min-width: 80%;
}

/* Tablet/mobile */
@media only screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }
  #home header.title-bar {
    flex-grow: 1;
  }
  header nav {
    flex-direction: column;
    justify-content: space-around;
  }
}
