@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,200|Open+Sans:300');
@import url('nav-colouring.css');

body {
  background-color: #111;
  color: #ddd;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  flex-direction: column;
}

body a, .home-blurb a {
  color: #d77;
  transition: color 0.5s;
  text-decoration: none;
}

body a:hover, .media-links a:hover i.fa, .home-blurb a:hover {
  color: #99f;
  transition: color 0.5s;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}


header.title-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 0 10px;
}

header.title-bar .mobile-blurb {
  text-align: center;
}

header a {
  text-decoration: none;
  color: #bbb;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav .nav-links {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

header nav .nav-links a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  padding: 0px 5px 0px 5px;
}

header h1 {
  font-size: 48px;
}

.media-links {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.media-links a {
  min-height: 48px;
  min-width: 48px;
  text-decoration: none;
  color: #ddd;
}

.media-links a:after {
  color: #d77;
  content: " * ";
}

.media-links a:last-of-type:after {
  content: "";
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5%;
  max-width: 1000px;
}

div.flex-center {
  display: flex;
  justify-content: center;
}

header.title-bar hr {
  border: 1px solid #D77;
  min-width: 80%;
}

header.title-bar .home-blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin: 0 10px 0 10px;
}

/* Tablet and mobile */
@media only screen and (max-width: 768px) {
  /* Don't care about margins */
  header.title-bar {
    flex-grow: 1;
  }

  /* Google reccommends 48px tap size */
  header nav a {
    min-height: 48px;
  }

}

/* Mobile */
@media only screen and (max-width: 480px) {
  div.container {
    margin: 0%;
  }

  header h1 {
    font-size: 36px;
  }

  header .nav-links {
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-basis: 100%;
  }

  header .nav-links a {
    border-right: thick solid;
    border-left: thick solid;
  }

  .home-blurb {
    display: none;
  }

  header.title-bar .mobile-blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
