@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto');

body {
  background-color: #111;
  color: #bbb;
  font-family: 'Roboto', sans-serif;
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  color: #ddd;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: #ddd;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.05em;
  font-size:1.3em;
}

#home header.title-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

#home div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home header.title-bar hr {
  border: 1px solid #D77; 
  min-width: 80%;
}

/* Tablet/mobile */
@media only screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }
  #home header.title-bar {
    flex-grow: 1;
  }
}